<div id="home">
<img class="logo" src="./images/logo.png" alt="Matcha">
	<div class="centered">
		<div id="home-line-left"></div>
		<a href="/signIn" class="button button-home">Enter here</a>
		<div id="home-line-right"></div>
	</div>
</div>