<div class="centered-logo">
	<img src="../images/logo.png" class="logo-form">
</div>

<div class="container_login">
<% if (success) { %>
    <% for(var i=0; i < success.length; i++) { %>
	<div class="alert alert-success">&nbsp;<%- success[i]['msg'] %></div>
    <% } %>
<% } %>
<% if (errors) { %>
    <% for(var i=0; i < errors.length; i++) { %>
	<div class="alert alert-danger">&nbsp;<%- errors[i]['msg'] %></div>
    <% } %>
<% } %>
<h1>Sign in</h1>
	<form action="/forgottenpassword/submit" method="POST">
		<p><label>email</label><br><input type="text" name="email" required="true" class="form-row"></p>
		<p><input type="submit" name="signin" class="btn btn-primary"></p>
	</form>
</div>
