<% include template/header.ejs %>

<div class="swipe-box">
	<img class="match-img" src="https://dummyimage.com/400x400/000000/fff.jpg"><br>
	<button><img class="like" src="/images/sign-error.png"></button>
	<button><img class="dislike" src="/images/sign-check.png"></button>
</div>