<script>
	function splashScreen() {

	}
</script>

<div id="home">
	<span id="home-title"><%= title %></span>
	<div class="centered">
		<div id="home-line-left"></div>
		<button class="button button-home">Enter here</button>
		<div id="home-line-right"></div>
		<script>
		var button = document.querySelectorAll(".button-home")[0]
		button.onclick = splashScreen;
		</script>


	</div>
</div>


