<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Vibur" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  </head>
  <body>

    <%- body %>
  </body>

</html>
<!--
   <script>
    function animateBg(i, dir) {
   document.body.style.backgroundColor = 'hsl(' + i + ', 100%, 50%)';
   
   setTimeout(function() {
   console.log(i);
   if (i > 400)
       dir = -2;
   else if (i < 350)
       dir = 2;
   animateBg(i + dir, dir)
   }, i);
	}
	animateBg(350, 2);
</script> -->