<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="box hl1">
                <img class="profile_picture" src="/images/medium_kneth.jpg">
                <p><b>Kneth Master</b></p>
                <div class="form-group">
                    <label for="comment">Bio</label>
                    <textarea class="form-control" rows="3" id="comment">Petite Bio de merde pour cette sous merde</textarea>
                </div>
                <br>
                <p><b>Popularity score</b></p>
                <img class="profile_star" src="/images/star.png">
                <img class="profile_star" src="/images/star.png">
                <img class="profile_star" src="/images/star.png">
            </div>
        </div>
    </div>
</div>