.box {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 10px;
    margin-bottom: 10px;
}

.prohl1 {
    text-align: center;
}

.edit_pro {
    width: 30% !important;
    display: inline-block !important;
}

.editable_info {
    display: none;
}

.stats {
    text-align: center;
}