.box {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 10px;
    margin-bottom: 10px;
}

.prohl1 {
    text-align: center;
}

.edit_pro {
    width: 30% !important;
    display: inline-block !important;
}

.editable_info {
    display: none;
}

.show_class {
    display: inherit;
}

.stats {
    text-align: center;
}

.popup-upload-photo {
    display: none;
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.1;
    z-index: 2;
}

.popup-box {
    display: none;
    position: fixed;
    padding: 20px;
    min-width: 840px;
    width: 40%;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    background-color: white;
    z-index: 3;
}

/**
    DRAG AND DROP
 */

.close-pop-up {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 98%;
    cursor: pointer;
    width: 20px;
}

.upload-individual-photo {
    display: inline-block;
    width: 150px;
}

.upload-drop-zone {
    border-width: 2px;
    margin-bottom: 20px;
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 30px;
    text-align: center;
    width: 150px;
    /*margin-top: 10px;*/
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

#upload-input {
    display: none;
}

/*.upload-btn {*/
    /*color: #000000;*/
    /*background-color: #FFFFFF;*/
    /*border: none;*/
/*}*/

/*.upload-btn:hover,*/
/*.upload-btn:focus,*/
/*.upload-btn:active,*/
/*.upload-btn.active {*/
    /*color: #ffffff;*/
    /*background-color: #FA8900;*/
    /*border: none;*/
/*}*/

.btn {
    width: 100%;
}

.progress {
    margin-bottom: 10px;
}

.img-thumbnail{
    margin-bottom: 10px;
    height: 150px;
    width: 150px;
    object-fit: contain;
}

#selected-img{
    border: 8px solid #337ab7;
}

#next-arrow {
    top: 15%;
    right: 30%;
    position: absolute;
}

#previous-arrow {
    top: 15%;
    left: 30%;
    position: absolute;
}

.arrows-profile {
    width: 25px;
}