<div class="bar">
    <div class="inner-bar">
        <div class="logo-bar">
            <a class="navbar-brand" href="/home"><img class="img-bar" src="/images/logo.png"></a>
        </div>
        <div class="icones-bar">
            <a class="navbar-brand" href="/myprofile"><img class="img-bar">My profile</a>
            <!--<a class="navbar-brand" href="/swipe"><img class="img-bar">Swipe</a>-->
            <!--<a class="navbar-brand" href="/chat"><img class="img-bar">Chat</a>-->
            <a class="navbar-brand" href="/signOut"><img class="img-bar">Disconnect</a>
        </div>
    </div>
</div>